<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/static/css/aside.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <div id="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main>
            <div class="admin">
                <h1 class="admin-title">ADMIN PRODUCT ADD</h1>
                <div class="admin-container">
                    <aside th:fragment="~{admin/fragment/aside :: aside}"></aside>
                        <section class="admin-main">
                            <select class="product-input">
                                <option value="none" selected>상품 종류</option>
                                <option value="DENIM">DENIM</option>
                                <option value="TEES">TEES</option>
                                <option value="SWEATS">SWEATS</option>
                                <option value="OVERDYED">OVERDYED</option>
                                <option value="PANTS">PANTS</option>
                                <option value="SHORTS">SHORTS</option>
                                <option value="OUTERWEAR">OUTERWEAR</option>
                                <option value="KNITS">KNITS</option>
                                <option value="TOPS & SHIRTS">TOPS & SHIRTS</option>
                                <option value="HEADWEAR">HEADWEAR</option>
                                <option value="ACCESSORIES">ACCESSORIES</option>

                            </select>
                            <input type="text" class="product-input" placeholder="상품명을 입력하세요">
                            <input type="text" class="product-input" placeholder="가격을 입력하세요">

                            <div class="product-option">
                                <div class="option-half">
                                    <select class="product-input">
                                        <option value="none">색상 선택</option>
                                        <option value="black">black</option>
                                        <option value="white">white</option>
                                        <option value="blue">blue</option>
                                        <option value="green">green</option>
                                    </select>
                                </div>
                                <div class="option-half">
                                    <select class="product-input">
                                        <option value="none">사이즈 선택</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                            </div>
                            <textarea class="product-input" placeholder="간략 설명"></textarea>
                            <textarea class="product-input" placeholder="상세 설명"></textarea>
                            <textarea class="product-input" placeholder="기타 설명"></textarea>
                            <textarea class="product-input" placeholder="관리 방법"></textarea>
                            <textarea class="product-input" placeholder="배송 설명"></textarea>
                            <!--  form을 array 만들어서 이미지 파일을 차곡차곡 넣어주고
                                    비어있는 폼을 새로 만들어서 이미지를 프리뷰로 차곡차곡 띄워주면
                                    프리뷰에 있는 x로 넣었다가 뺐다가 할수 있게   -->
                            <form enctype="multipart/form-data">
                                <div class="product-img-inputs">
                                    <label> 상품 이미지</label>
                                    <button type="button" class="add-button">추가</button>
                                    <input type="file" class="file-input product-invisible" name="file" multiple>
                                </div>
                            </form>

                            <div class="product-images">

                            </div>
                            <button type="button" class="submit-button product-button black-button">등록하기</button>
                        </section>
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </div>
    <script src="/static/js/product_add.js"></script>
</body>
</html>